@font-face {
    font-family: "coolvetica";
    src: url("fonts/coolvetica_rg.woff") format('woff');
}
.body {
    background: -webkit-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);    /* FF3.6+ */
    background: linear-gradient(to left, transparent 0%,#fff 50%,transparent 100%);      /* W3C */
}

.logoContainer {
    position: absolute;
        bottom: 0;
        left: 0;
    font-family: coolvetica;
    width: 100%;
    text-align: center;
    font-size: 100pt;
    font-weight: bold;
}

