@font-face {
    font-family: "coolvetica";
    src: url("fonts/coolvetica_rg.woff") format('woff');
}
.body {
    background-image: linear-gradient(180deg, #ABDCFF 10%, #0396FF 100%);
}

.headerContainer {
    position: absolute;
        bottom: 0;
        left: 0;
    font-family: coolvetica;
    width: 100%;
    text-align: center;
    font-size: 100pt;
    font-weight: bold;
}

