@font-face {
    font-family: "coolvetica";
    src: url("fonts/coolvetica_rg.woff") format('woff');
}

.headerContainer {
    font-family: coolvetica;
    width: 100%;
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
}

