@font-face {
    font-family: "coolvetica";
    src: url("fonts/coolvetica_rg.woff") format('woff');
}

body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.logoContainer {
    position: absolute;
        bottom: 0;
        left: 0;
    font-family: coolvetica;
    width: 100%;
    text-align: center;
    font-size: 100pt;
    font-weight: bold;
}

