@font-face {
    font-family: "coolvetica";
    src: url("fonts/coolvetica_rg.woff") format('woff');
}
.body {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,255,249,0.9108018207282913) 100%);
}

.logoContainer {
    position: absolute;
        bottom: 0;
        left: 0;
    font-family: coolvetica;
    width: 100%;
    text-align: center;
    font-size: 100pt;
    font-weight: bold;
}

